

:root {
    --darkest-color: #780000;
    --dark-color: #c1121f;
    --middle-color:#003566;
    --light-color: #003490;
    --lighter-color: #FFD60A;
    --color: #669BBC;
    --lightest-color: white;
    --text-color: var(--middle-color);
    --background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

button {
    padding: 0.5rem;
    background-color: #003490;
    color: white;
    border-radius: 1.5rem;
}



.grid-item {
    border: 2px solid black;
}

.grid-container {
    display: grid;
    --header-height: 10vh;
    --footer-height: 5vh;

    grid-template-rows: var(--header-height) calc(80vh - var(--header-height) - var(--footer-height)) var(--footer-height);
}


.flex-container {
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.flex-container >* {
    margin: 1rem;
}

.main-content {
    display: flex;
    background-color: lightblue;
}

nav, footer {
    display: flex;
    padding: 1rem;
}

.main-content >* {
    margin: 5px;
}

.book-template {
    width: 50px;
    height: 80px;
    border: 2px solid #003566;
    border-radius: 0.25rem;
}

.title-logo{
    border: 2px solid black;
    margin-right: auto;
}